.actor-imgs {
    width: 160px !important;;
    height: 220px !important;;
    border-radius: 9px;
}

.actor-img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 10px;
}


@media (max-width:475px) {
    .img-profile {
        width: 100% !important;
        height: 100% !important;
        margin-top: 24px;
    }
}
