.actor_img {
    width: 230px !important;;
    height: 340px !important;;

    border-radius: 4px;
}

.actor_img_card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    /* background-color: white; */
    /* box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 20px;
}


@media (max-width:475px) {
    .img-profile {
        width: 100% !important;
        height: 100% !important;
        /* margin-top: 24px; */
    }
}
