.App {
  text-align: center;
}

header {
  height: 170px;
  background-color: rgb(0, 0, 0);
}

input[type=text] {
  margin-top: 60px;
  /* width: 30%; */
  box-sizing: border-box;
  border: 2px solid rgb(132, 159, 165);
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-size: 26px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.6s ease-in-out;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=button] {
  background-color: #368cdd;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: white;
  padding: 15px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.main-content {
  margin: 10px;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  margin: 0;
}

img {
  /* height: 330px; */
  max-width: 100%;
  height: 434px;
}

@media screen and (min-width: 405px) {
  .card {
    width: 94%;
  }
  img {
    width: 99%;
    /* height: 350px auto; */
  }
}

@media screen and (min-width: 470px) {
  .main-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  img {
    height: auto;
  }
}

@media screen and (min-width: 800px) {
  .card {
      flex: 0 1 calc(22.5%);
  }
}

@media screen and (max-width: 1125px) {
  .card {
      flex: 0 1 calc(31%);
  }
}

@media screen and (max-width: 855px) {
  .card {
      flex: 0 1 calc(49% - 1rem);
  }
}

@media screen and (max-width: 490px) {
  .card-title {
    padding-top: 20px;
  }
}

.card {
  /* margin-bottom: 0.5rem; */
  margin: 15px auto;
  background-color: white;
  -webkit-box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  font-size: 1.2rem;
}

.card .movie-details {
  font-size: 1.3rem;
}

.btn {
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: .6rem;
  margin-top: 1rem;
  display: block;
  text-decoration: none;

  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loadmore {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 260px;
  height: 58px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover, input[type=button]:hover {
  background-color: #2c5275;
}



@media only screen and (min-width: 965px) {
  input[type=text] {
    width: 30%;
  }
} 

@media only screen and (max-width: 965px) {
  input[type=text] {
    width: 70%;
  }
} 
