  * {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    margin: 0;
  }

  .container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  }

  .side {
    flex: 32%;
    background-color: #ffffff;
    padding-top: 100px;
  }

  .main {
    flex: 68%;
    background-color: white;
    padding: 20px;
  }

  .inner_main {
    padding-left: 20px;
  }

  .actor_profile_img {
    max-width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  .bio_content>p {
    font-size: 16px;
    font-family: sans-serif;
  }

  .bio_title, h4 {
    font-family: 'Times New Roman', Times, serif;

    color: rgb(109, 104, 104);
  }

  h1 {
    font-family: 'Times New Roman', Times, serif;
  }

  h1.actor_nm {
    margin-top: 60px;
    font-size: 2.4rem;
  }

  h4 {
    font-family: 'Times New Roman', Times, serif;

    color: rgb(109, 104, 104);
    font-weight: 600;
    font-size: 1.3rem;
  }
  h4 span {
    color: rgb(49, 47, 47);
    font-weight: 400;
    font-size: 18.5px;
  }
  .personal_info {
    padding: 20px;
    text-align: center;
    background: rgb(220, 226, 223);
  }

  .actor-biography-anchor {
    color: rgb(100, 173, 185);
  }

  .actor-biography-anchor:hover {
    color: rgb(72, 117, 124);
  }

  .actor-bio-text {
    line-height: 1.4rem;
  }

  .bio_btn {
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;

    position: relative;
    bottom: 20px;
    top: 10px;
    left: 20px;
  }

  .bio_btn {
    background-color: white;
    color: black;
    border: 1px solid #000;
  }

  .bio_btn:hover {
    background-color: #000;
    color: white;
    outline: none;
  }



  @media screen and (min-width: 700px) {
    .bio_content {
      margin-top: 50px;
    }
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }

    .inner_main {
      padding: 0px;
    }
  }

  @media (max-width:700px) {
    .side {
      margin-top: -100px !important;
    }  
  }



  .text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: 50px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    margin-bottom: 4px;
    transition: opacity 800ms;
    text-align: center;
  }

  .text-content .title {
    padding-top: 16px;
  }

  .item:hover .text-content {
    opacity: 1;
  }


  /*************************
  *** CSS Masonry Layout ***
  **************************/

  /* The Masonry Container */
  .masonry {
    margin: 1.5em auto;
    max-width: 1300px;
    column-gap: 1em;
  }

  /* The Masonry Brick */
  .item {
    position: relative;
    /* background: #fff; */
    /* padding: 0.5em; */
    margin: 0 0 0.5em;
  }

  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
    .masonry {
      column-count: 4;
    }
  }

  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }

  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
      column-count: 2;
    }
  }