  * {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    margin: 0;
  }

  .container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .row.actor-profile-info {
    margin-bottom: 40px;
  }

  .side {
    flex: 30%;
    background-color: #ffffff;
    padding-top: 50px;
  }

  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }

  .masonry {
    margin-top: 150px;
  }

  .inner_main {
    padding-left: 20px;
  }

  .actor_profile_img {
    max-width: 100% !important;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }

  .container.filmography-profile-info {
    margin-top: 100px;
    /* margin-bottom: -40px !important; */
  }

  .filmography-profile-info .title {
    padding: 20px 0;
  }

  .bio_content>p {
    font-size: 16px;
    font-family: sans-serif;
  }

  h1 {
    font-family: 'Times New Roman', Times, serif;
  }

  h1.actor_nm {
    margin-top: 36px;
    font-size: 2.4rem;
  }

  .bio_title, h4 {
    font-family: 'Times New Roman', Times, serif;

    color: rgb(109, 104, 104);
    font-weight: 600;
    font-size: 1.3rem;
  }

  h4 span {
    color: rgb(49, 47, 47);
    font-weight: 400;
    font-size: 18.5px;
  }

  .personal_info {
    padding: 20px;
    text-align: center;
    background: rgb(220, 226, 223);
  }

  .actor-biography-anchor {
    color: rgb(100, 173, 185);
  }

  .actor-biography-anchor:hover {
    color: rgb(72, 117, 124);
  }

  .actor-bio-text {
    line-height: 1.4rem;
    margin-top: -20px;
  }

  .actor-profile-info-btns {
    margin-top: -14px;
  }

  .bio_btn {
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;

    position: relative;
    bottom: 20px;
    top: 10px;
    left: 20px;
    background-color: white;
    color: black;
    border: 1px solid #000;
  }

  .bio_btn:hover {
    background-color: #000;
    color: white;
    outline: none;
  }

  @media screen and (max-width: 500px) {
    .container.filmography-profile-info {
      margin-bottom: -40px;
    }

    .row {
      flex-direction: column;
    }

    .inner_main {
      padding: 0px;
    }

    .container.filmography-profile-info {
      margin-top: 40px;
    }
  
    .actor_profile_img {
      margin: -110px 0 0 0;
      padding:0;
      clip-path: inset(110px 0px 230px 0px);
    }

    .actor-biography-anchor {
      font-size: 1rem !important;
    }

    h1.actor_nm {
      margin-top: -140px;
      font-size: 1.7rem;
      /* position: absolute;
      color: #ffffff; */
    }

    .actor-biography-anchor {
      font-size: 14px;
    }

    .main {
      margin-top: -100px;
      height: 100%;
    }
  
    .side {
      margin-top: -100px !important;
    }

    .bio_content h4 {
      font-size: 18px;
    }
    .bio_content h4 span {
      font-size: 17px;
    }

    .bio_title {
      font-size: 23px;
    }

    .bio_btn {
      left: 0px;
    }
  }

  @media screen and (min-width: 700px) {
    .bio_content {
      margin-top: 50px;
    }
  }

  .text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: 50px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    margin-bottom: 4px;
    transition: opacity 800ms;
    text-align: center;
  }

  .text-content .title {
    padding-top: 16px;
  }

  .item:hover .text-content {
    opacity: 1;
  }


  @media only screen and (max-width: 440px) and (min-width: 319px) {
    .text-content {
      height: 30px;
      left: 0;
      bottom: 0;
      margin-bottom: 4px;
      opacity: 0.8;
    }
  
    .text-content .title {
      padding-top: 8px;
      font-size: 14px;
    }
  }


  /*************************
  *** CSS Masonry Layout ***
  **************************/

  /* The Masonry Container */
  .masonry {
    margin: 1.5em auto;
    max-width: 1300px;
    column-gap: 1em;
  }

  /* The Masonry Brick */
  .item {
    position: relative;
    /* background: #fff; */
    /* padding: 0.5em; */
    margin: 0 0 0.5em;
  }

  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
    .masonry {
      column-count: 4;
    }
  }

  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }

  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 440px) {
    .masonry {
      column-count: 2;
    }
  }

  @media only screen and (max-width: 440px) and (min-width: 319px) {
    .masonry {
      column-count: 2 !important;
    }
    .masonry {
      margin: 0.2em auto;
      column-gap: .4em;
    } 
  }