.card {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.btn-div {
    align-items: center;
    justify-content: center;
    display: flex !important;
    flex-wrap: wrap !important;
}

.container.tvshows {
    margin-top: 56px;
}

.container.now-on-the-air {
    margin-top: -300px;
}