/* .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
  
.toggle-button:focus {
    outline: none;
}
  
.toggle-button__line {
    width: 30px;
    height: 2px;
    background: #fff;
} */

.toggle-button {
    outline: none !important;
    margin-top: 2px !important;
    margin-right: -28px !important;
}
    
span.sc-htpNat.sc-gqjmRU.hBLQuC,
span.sc-htpNat.sc-gqjmRU.hBLQuC::before,
span.sc-htpNat.sc-gqjmRU.hBLQuC::after,
span.sc-htpNat.sc-gqjmRU.jvJXDA,
span.sc-htpNat.sc-gqjmRU.jvJXDA::before,
span.sc-htpNat.sc-gqjmRU.jvJXDA::after {
    width: 30px !important;
    height: 2px;
}
  
