.side-drawer {
    height: 100%;
    background: radial-gradient(at 30% top, rgb(17, 128, 104) 0%, rgba(8, 28, 36, 1) 100%);

    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
}
  
.side-drawer.open {
    transform: translateX(0);
}
  
.side-drawer ul {
    margin-top: 26px;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* justify-content: center; */
}
  
.side-drawer li {
    margin: 0.3rem 5.4rem;
    margin-right: 2.5rem;
}

.side-drawer a {
    color:#ffffff;
    text-decoration: none;
    font-size: 1.1rem;
}
  
/* .side-drawer a:hover,
.side-drawer a:active {
    color: #ffffff;
}
   */
@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}
  
.sidedrawer-separator {
    /* background: radial-gradient(circle, rgba(87, 83, 83, 0.191) 0%, rgba(19, 10, 10, 0) 90%); */
    border: none;
    height: 2px;
    margin-left: -45px !important;
    margin-top: 20px;
}