form {
  position: relative;
  padding-bottom: 1px;
  text-align: center;
  /* background-color: rgb(12, 43, 32); */
}

.searchBar {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 99% !important;
  padding: 16px 18px 16px 50px;
  /* margin: 0 0px; */
  border: 2px solid #bdbdbd;
  font-size: 16px;
  border-radius: 4px;
  color: #000;
  outline: none;
  transition: all 0.35s ease-out;
}

.searchBar:focus {
  border: 2px solid rgb(20, 150, 117) !important;
}

::placeholder {
  color: #000;
  transition: all 0.35s ease-out;
}

.searchBar:focus::placeholder {
  color: rgb(79, 163, 142);
}

.searchIcon {
  top: 0;
  left: 0;
  width: 30px;
  position: absolute;
  /* z-index: 9999; */
  margin: 13px 0 0 18px;
  opacity: 0.5;
}

.noDisplay {
  display: none;
  opacity: 0;
  visibility: hidden;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}