body {
    height: 100% !important;
    margin-bottom: -120px;
}

.box {
    background: radial-gradient(at 30% top, rgb(17, 128, 104) 0%, rgba(8, 28, 36, 1) 70%);
}

section.similar-tvshows {
    padding-top: 50px;
    background-color: rgb(246, 246, 246);
}

h1.tvshow-info-title {
    color: rgb(51, 51, 51);
    font-size: 2.4rem;
}

.react-rater-star.is-active,
.react-rater-star.is-active-half:before {
    color: #fc6;
}

.react-rater-star {
    font-size: 21px;
    color: rgb(116, 113, 113);
}

@media (max-width:475px) {
    .btn.btn-movie-info.tvshow {
        left: -122px !important;
    }
    h1.tvshow-info-title {
        font-size: 1.9rem;
    }
}
