body {
    height: 100% !important;
    margin-bottom: -120px;
}

h1 {
    color: rgb(70, 70, 70);
}

.react-rater-star.is-active,
.react-rater-star.is-active-half:before {
    color: #fc6;
}

.react-rater-star {
    font-size: 21px;
    color: rgb(116, 113, 113);
}