body {
    height: 100% !important;
    margin-bottom: -120px;
}

.box-tvshow-info {
    margin-top: 60px;
    width: 100%;
    height: 100%;
}

.row {
    min-height: 58vh;
}

section.similar-tvshows {
    padding-top: 50px;
    padding-bottom: 1px;
    background-color: rgb(246, 246, 246);
}

h1.tvshow-info-title {
    color: rgb(51, 51, 51);
    font-family: 'SF-Movie';
    font-size: 3.8rem;
    letter-spacing: 3.7px;
}

.react-rater-star.is-active,
.react-rater-star.is-active-half:before {
    color: #fc6;
}

.react-rater-star {
    font-size: 21px;
    color: rgb(116, 113, 113);
}

.btn-movie-info.tvshow {
    margin-left: -18px;
}

@media (max-width:775px) {
    .box-tvshow-info {
        margin-top: 56px;
    }
}

@media (max-width:475px) {
    .btn.btn-movie-info.tvshow {
        left: 18px !important;
    }
    h1.tvshow-info-title {
        font-size: 2.7rem;    }
}

