.actor-img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    min-height: 281px;
    transition: 0.6s;
    opacity: 0.8;
    transition: all .5s ease;
    display: block !important;
}

.actor-img:hover {
    opacity: 1;
    transform:scale(1.2);
} 

.img-wrapper {
    display: inline-block; 
    overflow: hidden !important;
}

.container.cast {
    background-color: black;
}

a {
    text-decoration: none;
    color: rgb(31, 30, 30);
}

.actor_name {
    text-align: center !important;
    font-size: 14px;
    color: rgb(68, 67, 67);
    margin-bottom: 12px;
}

@media (max-width:475px) {
    .actor_card .actor_name {
        font-size: 14px !important;
        text-align: center;
    }

    .actor-img {
        min-height: 151px !important;
        min-width: 101px !important;
    }
}

@media screen and (min-width: 320px) {
    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    img {
      width: 100%;
    }
}
  
@media screen and (min-width: 800px) {
    .actor-card {
        flex: 0 1 calc(19.99% - 3rem) !important;
    }
}

@media screen and (max-width: 800px) {
    .actor-card {
        flex: 0 1 calc(24% - 0.5rem);
    }
}