.img-profile {
    width: 175px !important;
    height: 240px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.container.cast {
    background-color: black;
}

a {
    text-decoration: none;
    color: rgb(31, 30, 30);
}

.actor_name {
    padding: 8px 0px;
    text-align: center;
    color: rgb(68, 67, 67);
}

.actor_card {
    margin: 15px auto;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.6s;
    opacity: 0.7;
}

.actor_card:hover {
    opacity: 1;
}

@media (max-width:475px) {
    .img-profile {
        width: 100% !important;
        height: 100% !important;
        margin-top: 24px;
    }

    a {
        color: #fff;
        font-size: 1.3rem;
    }
}
