main {
    margin: 0 auto;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin-bottom: 40px;

    /* background-color: rgb(255, 255, 255); */
}

.main-content {
    margin: 10px;
    max-width: 100% !important;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}

.card,
.iframe-card {
    margin: 15px auto;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.6s;
}

.card:hover {
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    filter: brightness(130%);
}

.card img {
    border-radius: 4px;
    height: 100%;
}

.search-movies {
    margin-top: 60px;
    min-height: 67vh;
}

.loadmore {
    display: flex;
    flex-direction: column;
    width: 63%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px !important;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.loadmore {
    border-radius: 4px;
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;

    background-color: white;
    color: black;
    border: 1px solid #000;
}

.loadmore:hover {
    background-color: #000;
    color: white;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
}

.loadmore:visited {
    outline: none;
}

.loadmore:focus {
    outline: 0;
    box-shadow: none !important;
}

.separator {
    background-image: radial-gradient(circle, rgba(87, 83, 83, 0.191) 0%, rgba(19, 10, 10, 0) 90%);
    border: none;
    height: 2px;
}


@media only screen and (max-width: 965px) {
    .loadmore {
        width: 99% !important;
    }
}

@media only screen and (min-width: 1980px) {
    .loadmore {
        min-width: 93%;
    }
}