.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(5, 0, 0);
    height: 60px;
    z-index: 100000000;

    .toolbar-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .toolbar__navigation {
        display: flex;
        height: 100%;
        align-items: center;
    }


    .toolbar__logo {
        margin-top: 9px;
        margin-left: 0rem;

        a img {
            text-decoration: none;
            width: 112px;
        }
    }

    .spacer {
        flex: 1;
    }

    .toolbar_navigation-items ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            padding-left: 1rem;
            font-size: 15.5px;
        }

        a {
            color: #fff;
            text-decoration: none;
            transition: .4s;

            &:hover,
            &:active {
                color: #74dfaf;
            }
        }
    }
}


@media (max-width: 1200px) {
    .toolbar-wrapper {
        padding: 0 15px;
    }
}

@media (max-width: 775px) {
    .toolbar {
        height: 56px;

        .toolbar_navigation-items {
            display: none;
        }


        .toolbar__logo {
            margin-bottom: 4px;
            margin-top: 9px;

            a img {
                width: 100px;
                margin-left: -5px !important;
            }
        }
    }

}

@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }

    .toolbar__logo {
        margin-left: 0;
    }
}