html {
    height: 100%;
}
  
body {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content.actors {
    flex: 1;
    min-height: 50vh;
}

.actor-images-name {
    padding-top: 30px;
    margin-top: 36px;
    font-size: 2.2rem;
}

.actor-profile-btn {
    margin-bottom: 26px;
    margin-left: 16px;
}

@media screen and (max-width: 465px) {
    .actor-images-name {
        font-size: 1.7rem;
    }
  }
