.box-movie-info {
    margin-top: 60px;
    width: 100%;
    height: 100%;
}

:focus {
    outline: 0;
}


/* Buttons styling */
.button {
    display: inline-block;
    margin-right: 10px;
    width: 200px;
    border-radius: 4px;
    left:0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;

    padding: 12px 18px;
    text-align: center;
    color: rgb(75, 74, 74);
    border: solid 2px #74dfaf;
    cursor: pointer;
} 

.button.movie-info {
    transition: all .4s ease !important;
}

.button:hover {
    background: #74dfaf; 
}


.playContainer {
    display:block;
    background: #74dfaf; 
    float:left;
    position:relative;
}

.play {
    display:block;
    position: absolute;
    width: 200px;
    padding: 18px 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    transition: opacity .35s ease;


    color: white;
    border: solid 2px white;
    cursor: pointer;
} 

.play i.fa-play {
    color: #74dfaf;
}

.play:hover {
  box-shadow:  0 1rem 2rem rgba(black, .2);
}
.play:hover::after {
  transform: scaleX(1.6) scaleY(2.4);
  opacity: 0;
}
  

.button-light::after {
  background-color: #74dfaf;
  opacity: .3;
}

.play::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}
  
.button-animated {
  animation: moveInUp .7s ease-out .75s;
  animation-fill-mode: backwards;
}



section.cast {
    padding: 70px 0px;
    background-color: rgb(246, 246, 246);
    display: inline-block;
    width: 100%;
}

section.similar-movies {
    padding-top: 70px;
    /* padding-bottom: 0px; */
    background-color: rgb(246, 246, 246);
    display: inline-block;
    width: 100%;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}

.resp-iframe {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    border: 0;
}

.ReactModal__Content {
    background-color: #000 !important;
    width: 76% !important;
    overflow-y: hidden !important;
}

.container.actors h1 {
    text-align: center;
    color: rgb(61, 61, 61);
}

.row {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff; 
    padding-bottom: 20px;
}


h1.title {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    color: rgb(51, 51, 51);
} 

.img-info {
    max-width: 100% !important;
}

.box-left {
    flex: 30%;
    background-color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
  
.box-right {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.inner-box-right {
    padding-left: 5px;
}

.movie-info-title {
    text-align: left;
    margin-top: 0px;
    padding: 6px 0px;
    border-radius: 3px;
    color: rgb(56, 56, 56);

    font-family: 'SF-Movie';
    font-size: 3.8rem;
    letter-spacing: 3.7px;
}

.card-title {
    font-size: 0.9rem;
    font-weight: 400;
}


.b1 {
    margin-left: 0px;
    margin-right: 10px;
}

.b1,
.b2 {
    background-color: white;
    color: black;
    border: 1px solid #000;
}

.plot {
    font-size: 16px;
    text-align: left;
    margin-top: 150px;
}

p {
    text-align: left;
    line-height: 26px;
    font-size: 16px;
    font-family: sans-serif;
    padding-right: 40px;
}

.star-rating, p strong {
    font-size: 1.1rem;
    padding: 0px;
    left: 0;
    border-radius: 3px;
    color: rgb(75, 75, 75);
}


.similar-movies h1 {
    color:rgb(70, 70, 70);
}




@media only screen and (max-width: 1250px) {
    .ReactModal__Content.ReactModal__Content--after-open {
        width: 100% !important;
        height: 50% !important;
    }

    .b1 {
        margin-left: 0px;
    }

    .img-info_original {
        max-width: 100% !important;
        height: auto;
    }
}


@media (max-width: 775px) {
    .box-movie-info {
        margin-top: 56px;
    }

    p {
        margin-left: 0px;
    }

    .resp-iframe {
        height: 330px;
    }
}




@media only screen and (max-width: 665px) {
    h1.title {
        font-size: 22px;
    }
    .plot {
        padding: 0px;
        text-align: left;
    }

    .b1 {
        margin-left: 0px;
    }
    .resp-iframe {
        height: 270px;
    }

    .inner-box-right {
        margin-left: -10px;
    }

    .inner-box-right p{
        font-size: 14px;
    }

    p {
        text-align: left;
        line-height: 26px;
        font-size: 16px;
        font-family: sans-serif;
        padding-right: 0px;
    } 

    p strong {
        font-size: 16px;
    }

    .movie-info-title {
        font-size: 2.7rem;
    }
}
@media (max-width:500px) {
    .row {
        flex-direction: column;
    }

    .group.movie-info {
        display: inline-block;
        margin-left: -12px;
    }

    .group.movie-info .movie-info-title { 
        white-space: initial;
        width: 100%;
        font-size: 2.6rem;
    }


    .ReactModal__Content.ReactModal__Content--after-open {
        width: 100% !important;
        height: 50% !important;
    }

    .resp-iframe {
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100%;
        border: 0;
    }

    .btn-movie-info .button {
        font-size: 13px !important; 
    }

    .play {
        width: 120px !important;
        padding: 10px 0px !important;
    }

    .btn-movie-info {
        margin-left: 0;
    }

    .container.slider {
        margin-bottom: -45px !important;
    }
} 



/* **************************** */
.custom_bg_poster {
    z-index: -1;
    opacity: 0.7;
    /* padding: 2px; */
    width: 100%;
}

.img-inner {
    display: flex;
    width: 1300px;
    margin: 0 auto;
}


