.box-movie-info {
    margin-top: 60px;
    width: 100%;
    height: 100%;
}

:focus {
    outline: 0;
}

section.cast {
    padding: 70px 0px;
    background-color: rgb(246, 246, 246);
    display: inline-block;
    width: 100%;
}

section.similar-movies {
    padding-top: 70px;
    /* padding-bottom: 0px; */
    background-color: rgb(246, 246, 246);
    display: inline-block;
    width: 100%;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}

.resp-iframe {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    border: 0;
}

.ReactModal__Content {
    background-color: #000 !important;
    width: 76% !important;
    overflow-y: hidden !important;
}

.container.actors h1 {
    text-align: center;
    color: rgb(61, 61, 61);
}

.row {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff; 
    padding-bottom: 20px;
}


h1.title {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    color: rgb(51, 51, 51);
} 

.img-info {
    max-width: 100% !important;
    /* display: flex; */
    
}

.box-left {
    flex: 30%;
    background-color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
  
.box-right {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.inner-box-right {
    padding-left: 5px;
}

.movie-info-title {
    text-align: left;
    font-size: 2.2rem;
    margin-top: 0px;
    padding: 6px 0px;
    border-radius: 3px;
    color: rgb(51, 51, 51);
}

.card-title {
    font-size: 0.9rem;
    font-weight: 400;
}

.btn-movie-info {
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 6px;
    cursor: pointer;

    position: relative;
    bottom: 20px;
    top: 10px;
    left: 20px;
}

.btn {
    transition: 0.4s !important;
}

.btn:hover {
    background-color: #000;
    color: #74dfaf;
    outline: none;
}

.btn-div__movie-info {
    margin-left: -18px !important;
}

.b1 {
    margin-left: 0px;
    margin-right: 10px;
}

.b1,
.b2 {
    background-color: white;
    color: black;
    border: 1px solid #000;
}

.plot {
    font-size: 16px;
    text-align: left;
    margin-top: 150px;
}

p {
    text-align: left;
    line-height: 26px;
    font-size: 16px;
    font-family: sans-serif;
    padding-right: 40px;
}

.star-rating, p strong {
    font-size: 1.1rem;
    padding: 0px;
    left: 0;
    border-radius: 3px;
    /* color: rgb(13, 73, 55); */
    color: rgb(75, 75, 75);
}


.similar-movies h1 {
    color:rgb(70, 70, 70);
}



/* 
@media (max-width:640px) and (min-width:360px),
       (max-width:731px) and (min-width:411px),
       (max-width:823px) and (min-width:411px),
       (max-width:568px) and (min-width:320px),
       (max-width:667px) and (min-width:375px),
       (max-width:736px) and (min-width:414px),
       (max-width:812px) and (min-width:375px) {
            .ReactModal__Content.ReactModal__Content--after-open {
                width: 90% !important;
                height: 90% !important;
            }
} */


@media only screen and (max-width: 1250px) {
    .ReactModal__Content.ReactModal__Content--after-open {
        width: 100% !important;
        height: 50% !important;
    }

    .b1 {
        margin-left: 0px;
    }

    .img-info_original {
        max-width: 100% !important;
        height: auto;
    }
}


@media (max-width: 775px) {
    .box-movie-info {
        margin-top: 56px;
    }

    p {
        margin-left: 0px;
    }

    .resp-iframe {
        height: 330px;
    }
}




@media only screen and (max-width: 665px) {
    h1.title {
        font-size: 22px;
    }
    .plot {
        padding: 0px;
        text-align: left;
    }

    .b1 {
        margin-left: 0px;
    }
    .resp-iframe {
        height: 270px;
    }

    .inner-box-right {
        margin-left: -10px;
    }

    .inner-box-right p{
        font-size: 14px;
    }

    p {
        text-align: left;
        line-height: 26px;
        font-size: 16px;
        font-family: sans-serif;
        padding-right: 0px;
    } 

    p strong {
        font-size: 16px;
    }

    .movie-info-title {
        font-size: 1.7rem;
    }
}
@media (max-width:500px) {
    .row {
        flex-direction: column;
    }

    .group.movie-info {
        display: inline-block;
        margin-left: -12px;
    }

    .group.movie-info .movie-info-title { 
        white-space: initial;
        width: 100%;
    }


    .ReactModal__Content.ReactModal__Content--after-open {
        width: 100% !important;
        height: 50% !important;
    }

    .resp-iframe {
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100%;
        border: 0;
    }

    .btn-movie-info {
        padding: 10px 6px;
        font-size: 11.5px;
        margin: 4px 3px;
        bottom: 20px;
        top: 10px;
    }

    .btn-div__movie-info {
        margin-left: -22px !important;
    }

    .container.slider {
        margin-bottom: -45px !important;
    }
} 



/* **************************** */
.custom_bg_poster {
    z-index: -1;
    opacity: 0.7;
    padding: 2px;
    width: 100%;
}

.img-inner {
    display: flex;
    width: 1300px;
    margin: 0 auto;
}

