.box {
    background-color: rgb(46, 45, 45);
    width: 100%;
    height: 100%;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.resp-iframe {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 490px;
    border: 0;
    margin-bottom: 40px;
}


.img-info {
    max-width: 100% !important;
    display: flex;
}

/* .flex-container {
    max-width: 1300px;
    max-height: 100% !important;
    margin: 0 auto;
    margin-top: -20px;
    justify-content: center;
}

.flex-container > div {
    box-sizing: border-box;
    margin: 0px;
    text-align: center;
    font-size: 16px;
} */

.container.actors {
    background-color: rgb(126, 73, 73);
    background: radial-gradient(at 30% top, rgb(255, 255, 255) 0%, rgb(175, 201, 194) 70%);

    padding-bottom: 50px;
}

.container.actors h1 {
    text-align: center;
    color:rgb(77, 76, 76);
}


.row {  
    display: flex;
    flex-wrap: wrap;
    background-color: #fff; 
    padding-bottom: 30px;
}

.box-left {
    flex: 30%;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 0px;
}
  
.box-right {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.inner-box-right {
    padding-left: 10px;
}

.info-title {
    text-align: left;
    font-size: 1.9rem;
    margin-bottom: 20px;

    padding: 6px 4px;
    width: 96%;
    border-radius: 3px;
    /* background-color: rgb(0, 0, 0); */
    background: radial-gradient(at 30% top, rgb(124, 197, 181) 0%, rgba(8, 28, 36, 1) 70%);

    color: #fff;
}

h1 strong {
    text-align: center;
}
h1.info-title span {
    padding-left: 6px;
}

.card-title {
    font-size: 0.9rem;
    font-weight: 400;
}

.btn-info {
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;

    position: relative;
    bottom: 20px;
    top: 10px;
    left: 20px;
}

.btn:hover {
    background-color: #000;
    color: white;
    outline: none;
}


.btn-div {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: -20px;
}

.b1 {
    margin-left: 0px;
    margin-right: 10px;
}

.b1,
.b2 {
    background-color: white;
    color: black;
    border: 1px solid #000;
}

.plot {
    font-size: 16px;
    text-align: left;
    margin-top: 150px;
}

p {
    text-align: left;
    line-height: 26px;
    font-size: 16px;
    font-family: sans-serif;
}

.star-rating, p strong {
    font-size: 1.1rem;
    padding: 0px;
    left: 0;
    border-radius: 3px;
    color: rgb(13, 73, 55);
}

.similar_movies {
    padding-top: 10px;
    background-color: rgb(255, 255, 255) !important;
}

.similar_movies h1 {
    color:rgb(70, 70, 70);
}

.cube {
    height: 40px;
    width: 40px;
    background-color: #000 !important;
}

@media only screen and (max-width: 1250px) {

    .b1 {
        margin-left: 0px;
    }

    .img-info_original {
        max-width: 100% !important;
        height: auto;
    }
}

@media only screen and (max-width: 765px) {
    .flex-container {
        flex-flow: column wrap;
        margin: 0px;
    }

    .flex-container>div {
        text-align: center;
        margin: 1px 0px;
    }

    p {
        margin-left: 0px;
    }

    .resp-iframe {
        height: 330px;
    }
}


@media only screen and (max-width: 665px) {
    .plot {
        padding: 0px;
        text-align: left;
    }

    .b1 {
        margin-left: 0px;
    }
    .resp-iframe {
        height: 270px;
    }


}

@media (max-width:475px) {
    .resp-iframe {
        height: 220px;
    }
}