.App {
  text-align: center;
  min-height: 100%;

}

body {
  box-sizing: border-box;
  background: #f2f2f2;
  margin: 0;
}

header {
  height: 80px;
  background-color: rgb(173, 171, 171);
}

input[type=text] {
  margin-top: 20px;
  box-sizing: border-box;
  border: 2px solid rgb(119, 124, 126);
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-size: 26px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.6s ease-in-out;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=button] {
  font-size: 15px;
  border: 2px solid rgb(119, 124, 126) !important;
  outline: none;
  width: 115px;
  border-radius: 6px;
  color: white;
  padding: 12px 32px !important;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.main-content {
  margin: 10px;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

@media screen and (min-width: 405px) {
  .card {
    width: 94%;
  }
  .iframe-card {
    width: 96%;
  }
  img {
    width: 100%;
  }
}

@media screen and (min-width: 470px) {
  .main-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
}

@media screen and (min-width: 800px) {
  .card {
      flex: 0 1 calc(18.8%);
  }
}

@media screen and (max-width: 1125px) {
  .card {
      flex: 0 1 calc(31%);
  }
}

@media screen and (max-width: 855px) {
  .card {
      flex: 0 1 calc(49% - 1rem);
  }
  .iframe-card {
    flex: 0 1 calc(49% - 1rem);
  }
}

@media screen and (max-width: 470px) {
  .card-title {
    padding-bottom: 20px;
    margin-top: 16px;
    font-size: 1.5rem !important; 
    margin-bottom: 50px;
    border-bottom: 2px solid grey;
  }
}

.card, .iframe-card {
  margin: 15px auto;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.6s;
}

.card:hover {
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.card img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.loadmore {
  display: flex;
  flex-direction: column;
  width: 67%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px !important;
  /* max-width: 1270px auto; */
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

input[type=button],
.loadmore {
  border-radius: 4px;
  border: none;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;

  background-color: white;
  color: black;
  border: 1px solid #000;
}

input[type=button]:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}

.loadmore:hover {
  background-color: #000;
  color: white;
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}

footer {
  /* background: linear-gradient(135deg, #00d573 0%, rgba(28,38,43,1) 71%); */
  background: radial-gradient(at 30% top, rgb(17, 128, 104) 0%, rgba(8, 28, 36, 1) 70%);
  padding: 10px;
  height: 200px;
}

@media only screen and (min-width: 965px) {
  input[type=text] {
    width: 46%;
  }
} 

@media only screen and (max-width: 965px) {
  input[type=text] {
    width: 70%;
  }
  .loadmore {
    width: 93%;
  }
} 

@media only screen and (min-width: 1980px) {
  .loadmore {
    min-width: 93%;
  }
} 
