html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  box-sizing: border-box;
  background: #f0eded;
}

.App {
  min-height: 100%;
}

.container {
  background-color: rgb(255, 255, 255);
}

.scroll-up-button {
  transition: .4s !important;
  border-radius: 4px;
}

.scroll-up-button:focus {
  outline: 0;
  box-shadow: none !important;
}

.scroll-up-button:hover {
  background-color: #01d277 !important;
}
.container.movie-type {
  margin-top: 56px;
}

.container.movie-type h1 {
  margin-bottom: -5px;
  /* font-size: 2rem !important; */
}

@media screen and (min-width: 320px) {
  .main-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  img {
    width: 100%;
  }

  .container.movie-type h1 {
    font-size: 1.6rem;
    color: rgb(51, 51, 51);
  }
}

@media screen and (min-width: 800px) {
  .card {
      flex: 0 1 calc(18.8%);
  }
}

@media screen and (max-width: 1125px) {
  .card {
      flex: 0 1 calc(21% - 1rem);
  }
}

@media screen and (max-width: 855px) {
  .card {
      flex: 0 1 calc(30% - 0.5rem);
  }
}

@media screen and (max-width: 455px) {
  .card {
      flex: 0 1 calc(33% - 0.3rem);
  }

  .scroll-up-button {
    width: 44px !important;
    height: 40px !important;
  }
}
