main {
    margin: 0 auto;
    text-align: center;
}

.container {
    max-width: 1200px;
    min-height: 53vh;
    margin-bottom: 40px;

    background-color: rgb(255, 255, 255);
}

.main-content {
    margin: 10px;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}

.select {
    text-align: left;
    width: 40%;
    margin: 0 auto;
}

.card {
    margin: 15px auto;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.6s;
}

.card:hover {
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    filter: brightness(130%);
}

.card img {
    border-radius: 4px;
    height: 100%;
}

.loadmore {
    width: 63%;
    margin: 0 auto;
    margin-bottom: 20px !important;
    height: 50px;
    border-radius: 4px;
    border: none;
    padding: 14px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    background-color: white;
    color: black;
    /* border: 1px solid #000; */
}


.scroll-up-button:focus {
    outline: 0;
    box-shadow: none !important;
}

.separator {
    background-image: radial-gradient(circle, rgba(87, 83, 83, 0.191) 0%, rgba(19, 10, 10, 0) 90%);
    border: none;
    height: 2px;
}

@media (max-width:475px) {
    .select {
        width: 84%;
    }
}
