@media (max-width: 465px) {
    .btn-movie-info.btn-nav.b2 {
        width: 110px !important;
    }
}


@media (max-width: 360px) {
    .btn-movie-info.btn-nav.b2 {
        width: 100px !important;
    }
}

@media (max-width: 320px) {
    .btn-movie-info.btn-nav.b2 {
        width: 92px !important;
    }
}