.btn-div.movies {
    margin: 0 auto !important;

    margin-top: 12px !important;
}

.button.movies {
    transition: all .4s !important;
}

.button.movies:hover {
    background-color: #74dfaf;
}

@media (max-width: 465px) {
    .btn-div {
        margin-top: 4px !important;
    }
    
    .button.movies {
        font-size: 13px;
        width: 112px !important;
        margin-top: 5px;
    }
}

@media (max-width: 375px) {
    .button.movies {
        width: 110px !important;
    }
}


@media (max-width: 360px) {
    .button.movies {
        width: 106px !important;
        margin: 0 auto;
        margin: 3px 6px;
    }
}

@media (max-width: 320px) {
    .button.movies {
        width: 122px !important;
    }
}
