form {
  position: relative;
  text-align: center;
}

.searchBar {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 100% !important;
  padding: 15px 18px 15px 50px;
  border-left: none; 
  border-right: none; 
  border-top: 2px solid #77ac93; 
  border-bottom: 2px solid #77ac93; 
  font-size: 16px;
  color: #648a78;
  outline: none;
  transition: all 0.35s ease-out;
}

.searchBar:focus {
  border-top: 2px solid rgb(54, 150, 110) !important;
  border-bottom: 2px solid rgb(54, 150, 110) !important;
  border-left: none; 
  border-right: none;
}

::placeholder {
  color: rgb(121, 185, 149);
  transition: all 0.35s ease-out;
}

.searchBar:focus::placeholder {
  color: rgb(79, 163, 142);
}

.searchIcon {
  top: 0;
  left: 0;
  width: 28px;
  position: absolute;
  margin: 13px 0 0 18px;
  opacity: 0.5;
}

.noDisplay {
  display: none;
  opacity: 0;
  visibility: hidden;
}


.close-icon {
  position: absolute;
	padding-top: 50px;
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
	content: "X";
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: rgb(186, 216, 192);
	z-index:1;
	right: 32px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 4px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 13px;
	cursor: pointer;
}
.searchBar:not(:valid) ~ .close-icon {
	display: none;
}